.idea
.m2
.bak
.classpath
.orig
.project
.settings
bin
build
runtime-Eclipse*
target
test-output
workspace
xtend-gen
*.iml
**/src/gen/*
**/src/site/*
**/src/test/gen/*
commit-msg
commit-msg.example
insuria-commission-parent/commit-msg
rebel.xml
/.metadata/
